<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- GENERATIVE AI WAS USED- asked ChatGPT how to add an 'X' icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<title>Add a Recipe</title>
<style>
input.ng-valid {
	background-color: lightgreen;
}

input.ng-dirty.ng-invalid-required,input.ng-dirty.ng-invalid-number {
	background-color: red;
}

input.ng-dirty.ng-invalid-min {
	background-color: red;
}
</style>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('addRecipeCtrl', function($scope, $http, $q) {
			console.log("Hit!");

			
			
			$scope.reset = function() {
				$scope.recipe = {
					name: '',
					price: '',
					ingredients: [
						{name: 'Coffee', amount: 0},
						{name: 'Milk', amount: 0}
					]
				};
				if (undefined != $scope.addRecipeForm) {
					$scope.addRecipeForm.$setPristine(); // reset Form
				}
			}
			
			$scope.removeIngredient = function(index) {
			    $scope.recipe.ingredients.splice(index, 1);
			    $scope.addRecipeForm.$setDirty();
			};

			
			$scope.addIngredient = function() {
				$scope.recipe.ingredients.push({ name: '', amount: 0});
				$scope.addRecipeForm.$setDirty();
			}
			
			$scope.addRow = function() {
				<!-- GENERATIVE AI WAS USED- asked ChatGPT how to add a row to a table, the innerHTML code was written by us -->
			    // Get the parent element of the "Add Ingredient" button
			    var addButtonParent = document.getElementById('addIngredientButton').parentNode;

			    // Create a new ingredient row
			    var newIngredientRow = document.createElement('div');
			    newIngredientRow.className = 'row';

			    newIngredientRow.innerHTML = '<div class="form-group col-md-12">' +
			        '    <div class="col-md-2">' +
			        '        <input type="text" class="form-control input-sm" placeholder="Enter ingredient name" >' +
			    	' 			<div class="has-error" ng-show="addRecipeForm.$dirty">' +
					'			<span ng-show="addRecipeForm.name.$error.required">This' +
					'				is a required field.</span> <span' +
					'				ng-show="addRecipeForm.name.$invalid">This field is' +
					'				invalid.</span>' +
					'			</div>' +
			        '    </div>' +
			        '    <div class="col-md-7">' +
			        '        <input type="number" class="form-control input-sm" placeholder="Enter ingredient amount" required="0" min="0">' +
			        '			<div class="has-error" ng-show="addRecipeForm.$dirty">' +
					'			<span ng-show="addRecipeForm.sugar.$error.required">This' +
					'				is a required field.</span> <span' +
					'				ng-show="addRecipeForm.sugar.$invalid">This field is' +
					'				invalid.</span>' +
					'			</div>' +
			        '    </div>' +
			        '    <div class="col-md-1">' +
				    '        <button type = "button" ng-click="delete()" ' +
					'		class="btn btn-info btn-sm"' +
					'			style="background-color: transparent; border: 0px;">	' +	                
					'            <span class="fa-stack">' +
					'                <i class="fas fa-circle fa-stack-2x text-danger"></i>' +
					'                <i class="fas fa-times fa-stack-1x fa-inverse"></i>' +
					'            </span>' +
				    '        </button>' +
				    '   </div>' +
			        '</div>';
			        
			        
			        
			        

			    // Insert the new ingredient row before the "Add Ingredient" button
			    addButtonParent.parentNode.insertBefore(newIngredientRow, addButtonParent);
			    $scope.addRecipeForm.$setDirty();
			};

			$scope.submit = function() {
				$scope.addRecipe();

				$scope.reset();
			}

			$scope.addRecipe = function() {
				$scope.success = false;
				$scope.failure = false;

				$http.post("/api/v1/recipes", $scope.recipe).then(
						function(success) {
							$scope.success = true;
							$scope.failure = false;
							$scope.addRecipeForm.$setPristine();
						}, function(rejection) {
							console.error("Error while adding recipe");
						});
			}

			$scope.reset();

		});
		/*]]>*/
	</script>



	<div ng-app="myApp" class="generic-container ng-cloak"
		ng-controller="addRecipeCtrl as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Add a Recipe</span>
			</div>

			<div class="formcontainer" id ="ingredientTable" >
				<form ng-submit="submit()" name="addRecipeForm"
					class="form-horizontal">

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Name</label>
							<div class="col-md-7">
								<input type="text" ng-model="recipe.name" name="name"
									class="name form-control input-sm"
									placeholder="Enter recipe name" required="0" />
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="addRecipeForm.name.$error.required">This
										is a required field.</span> <span
										ng-show="addRecipeForm.name.$invalid">This field is
										invalid.</span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Price</label>
							<div class="col-md-7">
								<input type="number" ng-model="recipe.price" name="price"
									class="price form-control input-sm"
									placeholder="Enter recipe price" required="0" min="0"/>
								<div class="has-error" ng-show="addRecipeForm.$dirty">
									<span ng-show="addRecipeForm.price.$error.required">This
										is a required field</span> <span
										ng-show="addRecipeForm.price.$error.min">Minimum amount
										is 0</span> <span ng-show="addRecipeForm.price.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>

					<div class="row" ng-repeat="ingredient in recipe.ingredients track by $index">
				    <div class="form-group col-md-12">
				        <div class="col-md-3">
				            <input type="text" ng-model="ingredient.name" name="ingredientName{{$index}}"
				                class="form-control input-sm" placeholder="Ingredient name" required />
				        </div>
				        <div class="col-md-6">
				            <input type="number" ng-model="ingredient.amount" name="ingredientAmount{{$index}}"
				                class="form-control input-sm" placeholder="Enter amount of ingredient"
				                required min="0"/>
				        </div>
				        <div class="col-md-1">
				            <button type="button" ng-click="removeIngredient($index)" 
				                class="btn btn-danger btn-sm"
				                style="background-color: transparent; border: 0px;">                
				                <span class="fa-stack">
				                    <i class="fas fa-circle fa-stack-2x text-danger"></i>
				                    <i class="fas fa-times fa-stack-1x fa-inverse"></i>
				                </span>
				            </button>
				        </div>
				    </div>
				</div>

				<div class="row">
				    <div class="form-actions">
				        <button type="button" id="addIngredientButton" ng-click="addIngredient()"
				                class="btn btn-info btn-sm"
				                style="background-color: grey; color: black;">
				                Add Ingredient <strong style="font-weight: bold;">+</strong>
				        </button>
				    </div>
				    <div class="form-actions floatRight">
				        <input type="submit" value="Submit" 
				                class="btn btn-primary btn-sm" 
				                ng-disabled="addRecipeForm.$invalid" 
				                style="background-color: black; color: white;" />
				        <button type="button" ng-click="reset()"
				                class="btn btn-danger btn-sm"
				                ng-disabled="addRecipeForm.$pristine">Reset Form</button>
				    </div>
				    
				</div>
				</form>
			</div>
			<div ng-show="success">Recipe Created</div>
			<div ng-show="failure">Error while adding recipe.</div>
		</div>

		<a href="/index">Home</a>
	</div>



</body>
</html>