<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Customer Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div ng-app="myApp" class="generic-container ng-cloak"
		ng-controller="addRecipeCtrl as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Customer Home Page</span>
			</div>
			<li><a href="makecoffee.html">Make Order</a></li>
		</div>

		<a href="/login">Logout</a>
	</div>
</body>
</html>
