<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Recipes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
	<script th:inline="javascript">
		/*<![CDATA[*/

		var app = angular.module('myApp', []);
		app.controller('ordersCtrl', function($scope, $http, $q) {
			$scope.get = function() {
				$http.get("/api/v1/orders").then(function(response) {
					$scope.orders = response.data;
				})
			}

			$scope.order = {
				num : 0,
				beverage: '',
				status: '',
			};
			
			$scope.update = function(status) {
				$scope.order.status = status;
				//put function for status updates
				$http.put("/api/v1/orders" + $scope.order).then(function(response) {
					
				}, function(errResponse) {
					console.log(errResponse);
					$scope.submissionFailure = true;
					$scope.error = "Error while updating recipe";
				})
			}
			
			//removing order from list, calls git again
			$scope.removeOrder = function() {
				$http.delete("/api/v1/orders" + $scope.order.id).then(function(response) {
	             	$scope.get();
	             	if ($scope.order.status != "PICKUP") {
						$scope.update("CANCELED");
					}
	            },
	            function(rejection){
	                console.error('Error while deleting recipe');                                
	             	// Update recipe list
			        $http.get("/api/v1/recipes").then(function (response) {
		  				$scope.recipes = response.data;
		  			});
					
				});
			}
            
			$scope.make = function(name) {
				var amtPaid = $scope.amtPaid;
				$scope.submissionFailure = false;
				$scope.submissionSuccess = false;
				if ($scope.order.status == "NOTREADY") {
					$http.post("/api/v1/makecoffee/" + name, amtPaid).then(
							function(response) {
								$scope.change = response.data.message;
								$scope.submissionSuccess = true;
								$scope.update("READY");
							}, function(errResponse) {
								console.log(errResponse);
								$scope.submissionFailure = true;
								$scope.error = "Error while making recipe";
							});
				}
			}
		$scope.get();
		
		});

		/*]]>*/
	</script>

	<div layout:fragment="content" class="generic-container ng-cloak"
		ng-app="myApp" ng-controller="ordersCtrl">
		<h1>View Orders</h1>
		<div>
			<ul>
				<li ng-repeat="order in orders track by $index"
					ng-model="$scope.order"><label>{{order.id}},{{order.name}},{{order.recipe}},{{order.status
						<button type="button" id="completeButton"
							ng-disabled="order.status==Ready" ng-click="make(order.name)"
							class="btn btn-info btn-sm"
							style="background-color: grey; color: black;">
							Complete <strong style="font-weight: bold;">+</strong>
						</button>
						<button type="button" ng-click="removeOrder()"
							class="btn btn-danger btn-sm"
							style="background-color: transparent; border: 0px;">
							<span class="fa-stack"> <i
								class="fas fa-circle fa-stack-2x text-danger"></i> <i
								class="fas fa-times fa-stack-1x fa-inverse"></i>
							</span>
						</button>
				</label></li>
			</ul>
			<div ng-show="submissionFailure">An error occurred: {{error}}</div>

			<br /> <a href="/index">Home</a>
		</div>

	</div>

</body>
</html>
