<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Welcome to the CSC326 CoffeeMaker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<body>
	<script>
		angular.module('myApp', []).controller(
				'indexController',
				[ '$scope', '$location', '$http',
						function($scope, $location, $http) {
							$scope.reset = function() {
								//everything here works except for getting the user role :)
								$scope.customer = $httpServletRequest.isUserInRole("CUSTOMER");
								$scope.staff = $httpServletRequest.isUserInRole("STAFF")
							}
							$scope.reset();
						} ]);
	</script>
	<div layout:fragment="content" class="generic-container ng-cloak"
		ng-app="myApp" ng-controller="indexController">
		<div class="form-actions floatCenter">
			<h1>CoffeeMaker</h1>
			--
			<div class="panel-heading">
				<span class="lead" style="font-size: 2rem">Available Options</span>
			</div>
			<div ng-show="customer">
				<ul>
					<li><a href="updateInventory.html" style="font-size: 1.5rem">Update Inventory</a></li>
					<li><a href="addrecipe.html" style="font-size: 1.5rem">Add a Recipe</a></li>
					<li><a href="editrecipe2.html" style="font-size: 1.5rem">Edit Recipe</a></li>
					<li><a href="deleterecipe.html" style="font-size: 1.5rem">Delete Recipe</a></li>
				</ul>
			</div>
			<div ng-show="staff">
				<ul>
					<li><a href="makecoffee.html" style="font-size: 1.5rem">Make Order</a></li>
				</ul>
			</div>
		</div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
</body>
</html>
