<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CoffeeMaker V2 Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body>

	<div class="generic-container ng-cloak"
		ng-app="myApp" ng-controller="recipesCtrl">
		
		<div class="form-actions floatCenter">
			<h1>CoffeeMaker V2</h1>
		
			<br>
			<label>Username: </label> <input type="text"
				name="username"/>
			
			<br>
			<label>Password: </label> <input type="text"
				name="password"/>
			
			<br>
			<input type="submit" value="Log In"
				class="btn btn-primary btn-sm" />
		</div>
	</div>

</body>
</html>