<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Staff Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div ng-app="myApp" class="generic-container ng-cloak"
		ng-controller="addRecipeCtrl as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Staff Home Page</span>
			</div>
			<li><a href="updateInventory.html">Update Inventory</a></li>
			<li><a href="addrecipe.html">Add a Recipe</a></li>
			<li><a href="editrecipe2.html">Edit Recipe</a></li>
			<li><a href="deleterecipe.html">Delete Recipe</a></li>
		</div>

		<a href="/login">Logout</a>
	</div>

	</ul>
</body>
</html>
